@font-face {
  font-family: 'iconfont';  /* Project id 2620307 */
  src: url('//at.alicdn.com/t/font_2620307_k1cfi5w9oyn.woff2?t=1635421978183') format('woff2'),
       url('//at.alicdn.com/t/font_2620307_k1cfi5w9oyn.woff?t=1635421978183') format('woff'),
       url('//at.alicdn.com/t/font_2620307_k1cfi5w9oyn.ttf?t=1635421978183') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }